.brand-name{
    font-weight     : bold;
    letter-spacing  : 2px;
    text-transform  : uppercase;
    color           : #ffc107;
}

.brand-name:hover{
    color: whitesmoke;
    transition: ease-in-out 200ms;
    cursor: pointer;
}

.brand-logo{
    font-size       : 2rem;
    color           : whitesmoke;
    font-weight     : bold;
}

.navbar{
    background-color: #050544 !important;
}

@media only screen and (max-width: 992px) {
    .menuItem{
        margin-top: 10px !important;
    }
}